/*
    All colors used are demo colors. Will be changed soon.
*/

#main_content   {
    margin: auto;
}

a   {
    text-decoration: none;
}

a.navbarelem    {
    text-decoration: none;
    background: blue;    
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

a.navbarelem:hover {
    background: coral;
    /*font-size: 25px;*/
}


nav {
    margin: auto;
    text-align: center;
}

footer  {
    margin: auto;
    text-align: center;
}