/*
    All colors used are demo colors. Will be changed soon.
*/

#main_content   {
    margin: auto;
    vertical-align: middle;
}

/*#booklist   {
    text-align: center;
}*/

a   {
    text-decoration: none;
}

a.navbarelem    {
    text-decoration: none;
    background: lightblue;    
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
}

a.navbarelem:hover {
    background: coral;
    /*font-size: 25px;*/
}

.javabook {
    /*visibility: hidden;*/
    color: green;
}

.sebook {
    /*visibility: hidden;*/
    color: green;
}

.wtbook {
    /*visibility: hidden;*/
    color: green;
}

.booklist   {
    list-style-image: url(icons/pdficon_small.png);
}


nav {
    margin: auto;
    text-align: center;
}

footer  {
    margin: auto;
    text-align: center;
}